<div class="row">
  <div class="col-md-6">
    <h2>Create new Post</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="title">Post title:</label>
        <input class="form-input" type="text" id="user-login" placeholder="Enter title"/>
      </div>
      <div class="form-group">
        <label for="content">content:</label>
        <input class="form-input" type="text" id="password-login" placeholder="start here"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">submit</button>
      </div>
    </form>
  </div>


  <script src="./js/new.js"></script>
